<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CopyHP</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
  <header>
    <div class="header-logo">
      <img src="https://github.com/tetsuyahayashi/sample/blob/67d8f7c188b0af57bcef647bf66637c180ea21cb/%E6%95%B4%E4%BD%93%E3%83%A9%E3%83%9C%EF%BC%88small.png">
    </div>
  </header>
  <div class="top-container">
    <img src="https://github.com/tetsuyahayashi/sample/blob/d704e0cf0d863712dc7bcdbd42bd172886bdf1d9/pc_mv.jpg">
  </div>
  <div class="cource-container">
    <div class="cource-premium">
      <div class="premium image">
        <img src="">
      </div>
    </div>
    <div class="cource-analysis">
      <div class="analysis image">
        <img src="">
      </div>
    </div>
    <div class="cource-coupon">
      <div class="coupon-container">
        <div class="coupon-title">
          <img src="">
        </div>
        <div class="coupon-menu">
          <img src="">
          <img src="">
          <img src="">
        </div>
        <div class="coupon-btn">
          <div class="btn reserve">
            <input type="submit" value="店舗検索・予約する">
            <span>></span>
          </div>
          <div class="btn detail">
            <input type="submit" value="各コース詳細はこちら">
            <span>></span>
          </div>
        </div>
        <div class="coupon-text">
          <p>※一部店舗(カラダファクトリープレミアム銀座店)は、初回体験特別価格対象外となります。</p>
          <p>※はじめてご利用の方は、または1年以上ご利用のない方に、いずれかのコースを初回1回限りでご利用いただけます。他の割引との併用はできません。</p>
          <p>※初検費無料</p>
          <p>※お着替え利用料無料</p>
          <p>※価格は予告なく変更する場合があります。</p>
          <p>※スタッフのご指名をいただく場合(男性・女性指名を含む)、コース料金とは別に指名料550円(税込)～がかかります。</p>
          <p>※ご指名いただいたスタッフは、骨格・骨盤調整のみを担当いたします。</p>
        </div>
      </div>
    </div>
    <div class="covid19">
      <div class="covid-container">
        <div class="covid19-title">
          <img src="">
          <p>カラダファクトリーでは、新型コロナウイルス感染拡大防止に</p>
          <p>向けた取り組みを実施しております。</p>
        </div>
        <div class="covid19-measures">
          <img src="">
          <img src="">
          <img src="">
          <img src="">
          <img src="">
          <img src="">
        </div>
        <div class="covid19-salon">
          <img src="">
          <p>フットコースなど施術時にお客様の肌に直接触れる場合は、除菌のうえ施術することや、手袋(使い捨て)を着用することがあります</p>
        </div>
        <div class="covid19-supervision">
          <h3>監修：医師 松山 淳</h3>
          <p>国際ホリスティックセラピー協会 理事/国際抗老化再生医療学会 理事長/日本臨床医学発毛協会 会長/米国抗老化医学会(A4M) 学術顧問/欧州抗老化医学会(ESAAM) 学術顧問/日本メディカルスパ医学会 会長</p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    
  </footer>
</body>
</html>
